.pages {
	.login-btn2 {
		margin-right: 10px;
	}
	.auth-padding {
		padding-top: 50px;
	}
	.phone-input-width {
		width: 100%;
	}
	.email-style {
		padding-bottom: 5px;
	}

	.login-btn-1 {
		margin-top: 20px;
		margin-right: 10px;
	}

	.text-up {
		margin-top: 15px;
	}
	.space-between-btn-text {
		margin-left: 5px;
	}
}
